@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  @font-face {
    font-family: 'Allura';
    src: url('./assets/Font/Allura/Allura-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('./assets/Font/Montserrat/static/Montserrat-Italic.ttf') format('truetype');
  }
  
  /* memodifikasi default */
  
  span{
      font-family:Montserrat ;
  }
  }
